.board{
    width: 100%;
    height: 50%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.score {
    bottom: 10%;
    padding: 10px 10px;
    height: 10%;  
    width: 20%;
    justify-content: center;
    text-align: center;
}
.board:first-of-type .score{
    margin-bottom: auto;
}

.board:last-of-type .score{
    margin-top: auto;
}

.board:last-of-type .cards{
    margin-top: 15px;
}

.score label{
    font-weight: bold;
    font-size: 1.7rem;
}

.buttons {
    display: flex;
    align-items: center;
    padding: 10px 10px;
    height: 10%;  
    width: 30%;
}

.board:last-of-type .buttons{
    margin-bottom: 1%;
    margin-top: auto;
}

.btn:last-of-type{
    margin-left: 25px;
}

.end-game{
    width: 40%;
    height: 20%;
    display: flex;
    margin-top: auto;
    animation: slide 600ms ease-in-out forwards;
}

@keyframes slide {
    0%{
        transform: translateX(-200%);
    }
    80%{
        transform: translateX(10%);
    }
    100%{
        transform: none;
    }
}

.board:first-of-type .card{
    animation: slide_from_top 400ms ease-in-out;
}

@keyframes slide_from_top {
    0%{
        transform: translate(-200%, -50%) rotate(-30deg);
        opacity: 0;
    }
}


.board:last-of-type .card{
    animation: slide_from_bottom 400ms ease-in-out;
}

@keyframes slide_from_bottom {
    0%{
        transform: translate(200%, 50%) rotate(-30deg);
        opacity: 0;
    }
}