:root{
    --primary: #5589F2;
    --secondary: #73A1FF;
    --danger: #F2C255;
    --background: #282C34;
}

.btn {
    padding: 15px 20px;
    outline: none;
    border: none;
    border-radius: 10px;
    background: linear-gradient(to bottom, #F2C255, #A67A19);
    height: fit-content;
    box-shadow: 10px var(--primary);
    min-width: 200px;
    font-weight: bold;
    color: var(--background);

}