.outcome, .outcome b{
    font-size: 3rem;
    text-align: center;
    width: 100%;
    height: 100%;
    text-shadow: 2px 1px #000;
    border-radius: 50%;
}

.outcome{
    box-shadow: 0 5px 5px rgba(96, 220, 251, 0.702);
    transition: box-shadow 500ms ease-in-out 600ms;
}


.win b{
    color: #23DC3D;

}
.lose b{
    color: #f00000;
}
.busted b{
    color: #f00000;
}
.draw b{
    color: #4e4e4e;
}

.blackjack b{
    color: var(--react)
}